@use "sass:string";
@import "./mixins.scss";
@import "./functions.scss";

.l-footer .copyright::after {
  content: "v#{$VERSION}";
}

.bar.vertical .line {
  overflow: visible;
}
.activity .graph.vertical .line .bar {
  animation-name: none;
}

.bar.vertical .line .bar-container .value {
  display: block;
  margin-bottom: -12px;
}

.bar.vertical .line .x_label {
  margin-bottom: -12px;
}

.cc-favourites {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
}
.c-manga {
  order: 0;
}

.c-anime {
  order: 1;
}

.c-character {
  order: 2;
}

.c-person {
  order: 3;
}

.p-profiles-show .cc-favourites:after {
  display: none;
}

.cc-favourites .b-catalog_entry {
  width: 100% !important;
}

.profile-content .cc-2 {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  grid-auto-columns: 75% 25%;
}

.profile-content .c-column.c-left {
  width: 100% !important;
  grid-area: a;
}

.profile-content .c-column.c-left .activity::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(var(--white-color), 0.5);
  margin-top: 15px;
}

.profile-content .c-column.c-right {
  display: contents;
}
.profile-content .c-column.c-right .cc-2a.m30 {
  grid-area: b;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.profile-content .c-column.c-right .cc-2a.m30 > .c-column {
  width: 100%;
}
.profile-content .c-column.c-right .block {
  grid-area: c;
}

.cc-favourites .cover {
  position: relative;
}

.cc-favourites .cover::after {
  position: absolute;
  bottom: 0;

  color: white;

  width: calc(100% - 10px);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;

  background: rgba(var(--small-rating), 0.8);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  font-size: 16px;
}
@media screen and (max-width: 1023px) {
  .cc-favourites .cover::after {
    display: none;
  }
}

/**
* Characters
*/
@include create-card(
  "80243",
  "Shouko Nishimiya",
  "西宮 硝子",
  "https://i.imgur.com/OC9hFDU.png"
);
@include create-card(
  "118763",
  "Rem",
  "レム",
  "https://cs13.pikabu.ru/post_img/big/2020/08/25/9/1598365753133610973.png"
);
@include create-card(
  "67065",
  "Hachiman Hikigaya",
  "比企谷 八幡",
  "https://images4.alphacoders.com/736/thumb-1920-736321.png"
);
@include create-card(
  "136529",
  "Mumei",
  "無名 (穂積)",
  "https://p4.wallpaperbetter.com/wallpaper/581/299/661/anime-anime-girls-koutetsujou-no-kabaneri-mumei-wallpaper-preview.jpg",
  "Mumei (Hozumi)"
);
@include create-card(
  "146736",
  "Kochou Shinobu",
  "胡蝶 しのぶ",
  "https://i.pinimg.com/originals/4a/fb/b1/4afbb153c45c598caee857c3c1901d34.png"
);
@include create-card(
  "97761",
  "Jibril",
  "ジブリール",
  "https://i.ytimg.com/vi/8LQacPpYjLU/maxresdefault.jpg"
);
@include create-card(
  "177217",
  "Misha Necron",
  "ミーシャ・ネクロン",
  "https://i.imgur.com/XKMakx6.jpg"
);
@include create-card(
  "176725",
  "Purifier",
  "ピュリファイアー",
  "https://i.imgur.com/sPnqFsx.jpg"
);
@include create-card(
  "127141",
  "Noelle Shilva",
  "ノエル・シルヴァ",
  "https://scontent-atl3-2.cdninstagram.com/v/t51.2885-15/e35/c161.0.414.414a/s320x320/117530087_1471102409742728_1975641936322730177_n.jpg?_nc_ht=scontent-atl3-2.cdninstagram.com&_nc_cat=108&_nc_ohc=kNV63Uo0-V4AX-nKJiV&oh=462e746f9c7d7f07cd9b4840075b16eb&oe=5F614C2A"
);
@include create-card(
  "143724",
  "Charmy Papittson",
  "チャーミー・パピットソン",
  "https://i.pinimg.com/originals/9e/d2/45/9ed245b3fc99ac6fd4753f9e63ca307b.png"
);
@include create-card(
  "127886",
  "Luck Voltia",
  "ラック・ボルディア",
  "https://pm1.narvii.com/7251/7db9c2487f457746152c76b199ca999e39712fdcr1-1080-1018v2_hq.jpg"
);
@include create-card(
  "150704",
  "Mimosa Vermillion",
  "ミモザ・ヴァーミリオン",
  "https://64.media.tumblr.com/0f75ffa370660e274eb2f5ab2ffc59bf/b34bbb744edca21a-c4/s640x960/b19539f9c1cf75ed34f273a0fd300dd4bbaacb2d.jpg"
);
@include create-card(
  "150824",
  "Vladilena Milizé",
  "ヴラディレーナ・ミリーゼ",
  "https://coolhdwall.com/storage/202105/lena-86---eighty-six-anime-art-4k-phone-wallpaper-2160x3840-84.jpg"
);
@include create-card(
  "172812",
  "Mei Raiden",
  "雷電 芽衣",
  "https://derf9v1xhwwx1.cloudfront.net/image/upload/oth/FunimationStoreFront/2286391/Japanese/2286391_Japanese_ShowKeyart_2b6a2e3c-8403-465f-8e7f-339eb84f5045.jpg"
);
@include create-card(
  "177539",
  "Ereshkigal",
  "エレシュキガル",
  "https://cs14.pikabu.ru/post_img/big/2021/08/26/3/1629947571192798858.jpg"
);
@include create-card(
  "67067",
  "Yukino Yukinoshita",
  "雪ノ下 雪乃",
  "https://i.pinimg.com/originals/a0/0b/40/a00b40c1713d689721799a8e729d8cf2.jpg"
);
@include create-card(
  "131943",
  "Shuna",
  "シュナ",
  "https://i.pinimg.com/originals/97/8a/7f/978a7fd0522b7cbe7489c9f008501d30.png"
);
@include create-card(
  "179800",
  "Hinata Sakaguchi",
  "坂口 日向",
  "https://i.imgur.com/4KWYGwq.jpg"
);
@include create-card(
  "502",
  "Rider",
  "ライダー",
  "https://i.kym-cdn.com/photos/images/original/001/883/989/85d"
);
@include create-card(
  "162644",
  "Miu Takigawa",
  "滝川 みう",
  "https://64.media.tumblr.com/fe54c7687f0b7fa37fe7c2c811b78d55/f431dda00fd2f767-94/s400x600/ca6aafcd4cd1bd94f3cdbab722b8b1bdd65d6e13.png"
);
@include create-card(
  "174387",
  "Hammann",
  "ハムマン",
  "https://i.imgur.com/3SCupXs.jpeg"
);
@include create-card(
  "150596",
  "Pieck Finger",
  "ピーク・フィンガー",
  "https://i.pinimg.com/originals/86/a3/d4/86a3d4c75363aaaed98d5cdab7ecc97b.png"
);
@include create-card("152629", "Latifa", "ラティーファ");
@include create-card("188707", "Orphia", "オーフィア");
@include create-card(
  "200661",
  "Sayo",
  "沙世",
  "https://otakukart.com/wp-content/uploads/2021/08/Screenshot-2021-08-25-113330.jpg"
);
@include create-card("188706", "Sara", "サラ");
@include create-card(
  "147860",
  "Celia Claire",
  "セリア＝クレール",
  "https://i.imgur.com/xzljLrG.jpg"
);
@include create-card(
  "137864",
  "Majin Archer",
  "織田信長",
  "https://static.wikia.nocookie.net/onepiecefanon/images/7/78/Saeko.jpg/revision/latest?cb=20200522075356",
  "Oda Nobunaga"
);
@include create-card(
  "91605",
  "Julie Sigtuna",
  "ユリエ・シグトゥーナ",
  "https://i.imgur.com/IatFrYW.png"
);
@include create-card(
  "117225",
  "Megumin",
  "めぐみん",
  "https://64.media.tumblr.com/eaf9960b4d40e6874d083f88d33e689c/808f16443f720a57-39/s1280x1920/fa0eec46ba12d6bfe8e752547c267cf735cb8b1d.jpg"
);
@include create-card(
  "180683",
  "Rose",
  "ロゼ",
  "https://cdn.donmai.us/original/8f/07/8f07d24e367c593af5b4ee50513b4415.jpg"
);
@include create-card(
  "117747",
  "Narberal Gamma",
  "ナーベラル・ガンマ",
  "https://cdnb.artstation.com/p/assets/images/images/020/684/943/large/mitsu-art-narberal-finalv1-01-wm.jpg"
);
@include create-card(
  "65239",
  "Esdeath",
  "エスデス",
  "https://cs10.pikabu.ru/post_img/2019/10/17/10/1571334098197731034.jpg"
);
@include create-card(
  "193037",
  "Sajuna Inui",
  "乾 紗寿叶",
  "https://i.imgur.com/HQfQ632.jpg"
);
@include create-card(
  "195814",
  "Shinju Inui",
  "乾 心寿",
  "https://i.imgur.com/ZVC0jW4.jpg"
);
@include create-card(
  "171851",
  "Sumi Sakurasawa",
  "桜沢 墨",
  "https://i.imgur.com/Ans7qQX.jpg"
);
@include create-card(
  "202069",
  "Sirius",
  "シリウス",
  "https://i.imgur.com/s7yNEEFh.jpg"
);
@include create-card(
  "158730",
  "Fana",
  "ファナ",
  "https://i.pinimg.com/originals/1d/6b/e9/1d6be9fd6fc91b9107c776a636d984fb.jpg"
);
@include create-card(
  "112907",
  "Atla",
  "アトラ",
  "https://i.redd.it/fg1ptbmi9e161.png"
);
@include create-card(
  "112157",
  "Aka no Archer",
  "赤のアーチャー",
  "https://i.imgur.com/qQillyW.jpg",
  "Aka no Archer (Atalanta)"
);
@include create-card(
  "175281",
  "Atago",
  "愛宕",
  "https://i.imgur.com/tI37zmS.jpg",
);
@include create-card(
  "64523",
  "Yuuki Konno",
  "紺野 木綿季",
  "https://static.zerochan.net/Konno.Yuuki.full.3095610.jpg",
);
@include create-card(
  "184959",
  "Araya Endou",
  "遠藤 亞羅椰",
  "https://images-cdn.9gag.com/photo/aAbnQbd_700b.jpg",
);

/**
* Anime
*/
@include create-card(
  "23283",
  "Zankyou no Terror",
  "残響のテロル",
  "https://img1.ak.crunchyroll.com/i/spire1/866791fd95d756a9ebf3a0a51b2c6d071481246024_full.jpg"
);
@include create-card(
  "34544",
  "Koutetsujou no Kabaneri Movie 3: Unato Kessen",
  "甲鉄城のカバネリ 〜海門決戦〜",
  "https://i.imgur.com/0jPwVzn.jpg"
);
@include create-card(
  "33050",
  "Fate/stay night Movie: Heaven's Feel - III. Spring Song",
  "劇場版「Fate/stay night [Heaven's Feel] III.spring song」",
  "https://fesapusewebsite.blob.core.windows.net/fathom/b2dbab4d5bf1cd2411ab18a0a5144b83.jpg"
);
#{get-favorite-card-name-selector("33050")} {
  @include fluid-type(11px, 13px);
}
@include create-card(
  "38328",
  "Azur Lane",
  "アズールレーン",
  "https://derf9v1xhwwx1.cloudfront.net/image/upload/oth/FunimationStoreFront/2286391/Japanese/2286391_Japanese_ShowKeyart_2b6a2e3c-8403-465f-8e7f-339eb84f5045.jpg"
);
@include create-card(
  "32615",
  "The Saga of Tanya the Evil",
  "幼女戦記",
  "https://derf9v1xhwwx1.cloudfront.net/image/upload/oth/FunimationStoreFront/2286391/Japanese/2286391_Japanese_ShowKeyart_2b6a2e3c-8403-465f-8e7f-339eb84f5045.jpg"
);
@include create-card(
  "39551",
  "Tensei shitara Slime Datta Ken 2nd Season",
  "転生したらスライムだった件"
);

/**
* Manga
*/
@include create-card(
  "23390",
  "Shingeki no Kyojin",
  "進撃の巨人",
  "https://i.pinimg.com/736x/a6/aa/42/a6aa42b57ab861bce83e728bd5454e9d.jpg"
);
@include create-card(
  "56805",
  "Koe no Katachi",
  "聲の形",
  "https://static.wikia.nocookie.net/koenokatachi/images/2/2b/Vol1cover.jpeg/revision/latest?cb=20140419040654"
);
@include create-card(
  "67615",
  "Tate no Yuusha no Nariagari",
  "盾の勇者の成り上がり",
  "https://images-na.ssl-images-amazon.com/images/I/81lAIPP2XkL.jpg"
);

/**
* Ranobe
*/
@include create-card(
  "104039",
  "86",
  "86-エイティシックス-",
  "https://kbimages1-a.akamaihd.net/29216134-5f0b-4080-a492-4a58461f91f1/1200/1200/False/86-eighty-six-vol-4-light-novel.jpg"
);

/**
* Person
*/
@include create-card("869", "Saori Hayami", "早見 沙織");
@include create-card(
  "26063",
  "Reina Ueda",
  "上田 麗奈",
  "https://pbs.twimg.com/media/FDMDvqbaMAAx1g1?format=jpg&name=large"
);
@include create-card("40497", "MYTH & ROID", "MYTH & ROID");
