@use "sass:string";
@import "./mixins.scss";
@import "./functions.scss";

.l-footer .copyright::after {
  content: "v#{$VERSION}";
}

.bar.vertical .line {
  overflow: visible;
}
.activity .graph.vertical .line .bar {
  animation-name: none;
}

.bar.vertical .line .bar-container .value {
  display: block;
  margin-bottom: -12px;
}

.bar.vertical .line .x_label {
  margin-bottom: -12px;
}

.cc-favourites {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
}
.c-manga {
  order: 0;
}

.c-anime {
  order: 1;
}

.c-character {
  order: 2;
}

.c-person {
  order: 3;
}

.p-profiles-show .cc-favourites:after {
  display: none;
}

.cc-favourites .b-catalog_entry {
  width: 100% !important;
}

.profile-content .cc-2 {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  grid-auto-columns: 75% 25%;
}

.profile-content .c-column.c-left {
  width: 100% !important;
  grid-area: a;
}

.profile-content .c-column.c-left .activity::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(var(--white-color), 0.5);
  margin-top: 15px;
}

.profile-content .c-column.c-right {
  display: contents;
}
.profile-content .c-column.c-right .cc-2a.m30 {
  grid-area: b;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.profile-content .c-column.c-right .cc-2a.m30 > .c-column {
  width: 100%;
}
.profile-content .c-column.c-right .block {
  grid-area: c;
}

.cc-favourites .cover {
  position: relative;
}

.cc-favourites .cover::after {
  position: absolute;
  bottom: 0;

  color: white;

  width: calc(100% - 10px);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;

  background: rgba(var(--small-rating), 0.8);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  font-size: 16px;
}
@media screen and (max-width: 1023px) {
  .cc-favourites .cover::after {
    display: none;
  }
}

/**
* Characters
*/
@include create-card(
  "80243",
  "Shouko Nishimiya",
  "西宮 硝子",
  "https://korekuta.ru/img/static/shouko_nishimiya.png"
);
@include create-card(
  "118763",
  "Rem",
  "レム",
  "https://korekuta.ru/img/static/rem.png"
);
@include create-card(
  "67065",
  "Hachiman Hikigaya",
  "比企谷 八幡",
  "https://korekuta.ru/img/static/hachiman_hikigaya.png"
);
@include create-card(
  "136529",
  "Mumei",
  "無名 (穂積)",
  "https://korekuta.ru/img/static/mumei.png",
  "Mumei (Hozumi)"
);
@include create-card(
  "146736",
  "Kochou Shinobu",
  "胡蝶 しのぶ",
  "https://korekuta.ru/img/static/kochou_shinobu.png"
);
@include create-card(
  "97761",
  "Jibril",
  "ジブリール",
  "https://korekuta.ru/img/static/jibril.jpg"
);
@include create-card(
  "177217",
  "Misha Necron",
  "ミーシャ・ネクロン",
  "https://korekuta.ru/img/static/misha_necron.jpg"
);
@include create-card(
  "176725",
  "Purifier",
  "ピュリファイアー",
  "https://korekuta.ru/img/static/purifier.jpg"
);
@include create-card(
  "143724",
  "Charmy Papittson",
  "チャーミー・パピットソン",
  "https://korekuta.ru/img/static/charmy_papittson.png"
);
@include create-card(
  "150704",
  "Mimosa Vermillion",
  "ミモザ・ヴァーミリオン",
  "https://korekuta.ru/img/static/mimosa_vermillion.jpg"
);
@include create-card(
  "150824",
  "Vladilena Milizé",
  "ヴラディレーナ・ミリーゼ",
  "https://korekuta.ru/img/static/vladilena_milize.jpg"
);
@include create-card(
  "172812",
  "Mei Raiden",
  "雷電 芽衣",
  "https://korekuta.ru/img/static/mei_raiden.png",
  "Raiden Mei"
);
@include create-card(
  "177539",
  "Ereshkigal",
  "エレシュキガル",
  "https://korekuta.ru/img/static/ereshkigal.jpg"
);
@include create-card(
  "67067",
  "Yukino Yukinoshita",
  "雪ノ下 雪乃",
  "https://korekuta.ru/img/static/yukino_yukinoshita.jpg"
);
@include create-card(
  "131943",
  "Shuna",
  "シュナ",
  "https://korekuta.ru/img/static/shuna.jpg"
);
@include create-card(
  "179800",
  "Hinata Sakaguchi",
  "坂口 日向",
  "https://korekuta.ru/img/static/hinata_sakaguchi.jpg"
);
@include create-card(
  "502",
  "Rider",
  "ライダー",
  "https://korekuta.ru/img/static/rider.jpg"
);
@include create-card(
  "162644",
  "Miu Takigawa",
  "滝川 みう",
  "https://korekuta.ru/img/static/miu_takigawa.png"
);
@include create-card(
  "174387",
  "Hammann",
  "ハムマン",
  "https://korekuta.ru/img/static/hammann.jpeg"
);
@include create-card(
  "150596",
  "Pieck Finger",
  "ピーク・フィンガー",
  "https://korekuta.ru/img/static/pieck_finger.jpg"
);
@include create-card("152629", "Latifa", "ラティーファ");
@include create-card("188707", "Orphia", "オーフィア");
@include create-card(
  "200661",
  "Sayo",
  "沙世",
  "https://korekuta.ru/img/static/sayo.jpg"
);
@include create-card("188706", "Sara", "サラ");
@include create-card(
  "147860",
  "Celia Claire",
  "セリア＝クレール",
  "https://korekuta.ru/img/static/celia_claire.jpg"
);
@include create-card(
  "137864",
  "Majin Archer",
  "織田信長",
  "https://korekuta.ru/img/static/majin_archer.jpg",
  "Oda Nobunaga"
);
@include create-card(
  "91605",
  "Julie Sigtuna",
  "ユリエ・シグトゥーナ",
  "https://korekuta.ru/img/static/julie_sigtuna.jpg"
);
@include create-card(
  "117225",
  "Megumin",
  "めぐみん",
  "https://korekuta.ru/img/static/megumin.jpg"
);
@include create-card(
  "180683",
  "Rose",
  "ロゼ",
  "https://korekuta.ru/img/static/rose.jpg"
);
@include create-card(
  "117747",
  "Narberal Gamma",
  "ナーベラル・ガンマ",
  "https://korekuta.ru/img/static/narberal_gamma.jpg"
);
@include create-card(
  "65239",
  "Esdeath",
  "エスデス",
  "https://korekuta.ru/img/static/esdeath.jpg"
);
@include create-card(
  "193037",
  "Sajuna Inui",
  "乾 紗寿叶",
  "https://korekuta.ru/img/static/sajuna_inui.jpg"
);
@include create-card(
  "195814",
  "Shinju Inui",
  "乾 心寿",
  "https://korekuta.ru/img/static/shinju_inui.jpg"
);
@include create-card(
  "171851",
  "Sumi Sakurasawa",
  "桜沢 墨",
  "https://korekuta.ru/img/static/sumi_sakurasawa.jpg"
);
@include create-card(
  "202069",
  "Sirius",
  "シリウス",
  "https://korekuta.ru/img/static/sirius.jpg"
);
@include create-card(
  "158730",
  "Fana",
  "ファナ",
  "https://korekuta.ru/img/static/fana.jpg"
);
@include create-card(
  "112907",
  "Atla",
  "アトラ",
  "https://korekuta.ru/img/static/atla.png"
);
@include create-card(
  "112157",
  "Aka no Archer",
  "赤のアーチャー",
  "https://korekuta.ru/img/static/aka_no_archer.jpg",
  "Aka no Archer (Atalanta)"
);
@include create-card(
  "175281",
  "Atago",
  "愛宕",
  "https://korekuta.ru/img/static/atago.jpg"
);
@include create-card(
  "64523",
  "Yuuki Konno",
  "紺野 木綿季",
  "https://korekuta.ru/img/static/yuuki_konno.jpg"
);
@include create-card(
  "184959",
  "Araya Endou",
  "遠藤 亞羅椰",
  "https://korekuta.ru/img/static/araya_endou.jpg"
);
@include create-card(
  "182080",
  "Micchon Shikimori",
  "式守 みっちょん",
  "https://korekuta.ru/img/static/micchon_shikimori.jpg"
);
@include create-card(
  "184892",
  "Yui Hachimitsu",
  "八満 結",
  "https://korekuta.ru/img/static/yui_hachimitsu.png"
);
@include create-card(
  "137825",
  "Tanya Degurechaff",
  "ターニャ・デグレチャフ",
  "https://korekuta.ru/img/static/tanya_degurechaff.jpg"
);
@include create-card(
  "172816",
  "Hua Fu",
  "フカ",
  "https://korekuta.ru/img/static/huf_fu.jpg",
  "Fu Hua"
);
@include create-card(
  "176544",
  "Karyl",
  "キャル",
  "https://korekuta.ru/img/static/karyl.png"
);
@include create-card(
  "204694",
  "Ginny Fin de Salvan",
  "ジニー・フィン・ド・サルヴァン",
  "https://korekuta.ru/img/static/ginny_fin_de_salvan.png"
);
@include create-card(
  "205488",
  "Ireena Litz de Olhyde",
  "イリーナ・リッツ・ド・オールハイド",
  "https://korekuta.ru/img/static/ireena_litz_de_olhyde.png"
);
@include create-card(
  "194785",
  "Mylene Rapha Holfort",
  "ミレーヌ・ラファ・ホルファート",
  "https://korekuta.ru/img/static/mylene_rapha_holfort.jpg"
);
@include create-card(
  "112749",
  "Shigure Yukimi",
  "雪見 時雨",
  "https://korekuta.ru/img/static/shigure_yukimi.png"
);

/**
* Anime
*/
@include create-card(
  "23283",
  "Zankyou no Terror",
  "残響のテロル",
  "https://korekuta.ru/img/static/zankyou_no_terror.jpg"
);
@include create-card(
  "34544",
  "Koutetsujou no Kabaneri Movie 3: Unato Kessen",
  "甲鉄城のカバネリ 〜海門決戦〜",
  "https://korekuta.ru/img/static/koutetsujou_no_kabaneri_movie_3_unato_kessen.jpg"
);
@include create-card(
  "33050",
  "Fate/stay night Movie: Heaven's Feel - III. Spring Song",
  "劇場版「Fate/stay night [Heaven's Feel] III.spring song」",
  "https://korekuta.ru/img/static/fate_stay_night_movie_heavens_feel_iii_spring_song.jpg"
);
#{get-favorite-card-name-selector("33050")} {
  @include fluid-type(11px, 13px);
}
@include create-card(
  "38328",
  "Azur Lane",
  "アズールレーン",
  "https://korekuta.ru/img/static/azur_lane.jpg"
);
@include create-card(
  "32615",
  "The Saga of Tanya the Evil",
  "幼女戦記",
  "https://korekuta.ru/img/static/the_saga_of_tanya_the_evil.jpg"
);
@include create-card(
  "39551",
  "Tensei shitara Slime Datta Ken 2nd Season",
  "転生したらスライムだった件"
);

/**
* Manga
*/
@include create-card(
  "23390",
  "Shingeki no Kyojin",
  "進撃の巨人",
  "https://korekuta.ru/img/static/shingeki_no_kyojin.jpg"
);
@include create-card(
  "56805",
  "Koe no Katachi",
  "聲の形",
  "https://korekuta.ru/img/static/koe_no_katachi.jpg"
);
@include create-card(
  "67615",
  "Tate no Yuusha no Nariagari",
  "盾の勇者の成り上がり",
  "https://korekuta.ru/img/static/tate_no_yuusha_no_nariagari.jpg"
);

/**
* Ranobe
*/
@include create-card(
  "104039",
  "86",
  "86-エイティシックス-",
  "https://korekuta.ru/img/static/86.jpg"
);

/**
* Person
*/
@include create-card("869", "Saori Hayami", "早見 沙織");
@include create-card(
  "26063",
  "Reina Ueda",
  "上田 麗奈",
  "https://korekuta.ru/img/static/reina_ueda.jpg"
);
@include create-card("40497", "MYTH & ROID", "MYTH & ROID");
@include create-card(
  "91",
  "Jouji Nakata",
  "中田 譲治",
  "https://korekuta.ru/img/static/jouji_nakata.jpg"
);