@import "./funcions.scss";

@mixin create-card(
  $id,
  $en-name,
  $jp-name,
  $img-url,
  $custom-en-name: $en-name
) {

  $selector: get-favorite-card-selector($id);

  /* #{$en-name} */
  #{$selector} .cover::after {
    content: "#{$jp-name}" !important;
  }
  #{$selector} .cover:hover:after {
    content: "#{$custom-en-name}" !important;
  }
  img[src*="#{$id}"][alt="#{$en-name}"] {
    content: url("#{$img-url}");
  }
}
