@use "sass:math";
@import "./functions.scss";

@mixin create-card(
  $id,
  $en-name,
  $jp-name,
  $img-url: "null",
  $custom-en-name: $en-name
) {
  $selector: get-favorite-card-selector($id);

  /* #{$en-name} */
  #{$selector} .cover::after {
    content: "#{$jp-name}" !important;
  }
  #{$selector} .cover:hover:after {
    content: "#{$custom-en-name}" !important;
  }
  @if $img-url != "null" {
    img[src*="#{$id}"][alt="#{$en-name}"] {
      min-width: 225px;
      min-height: 350px;
      object-fit: cover;
      image-rendering: -webkit-optimize-contrast;
      content: url("#{$img-url}");
    }
  }
}

@mixin fluid-type(
  $min-font-size: 12px,
  $max-font-size: 21px,
  $lower-range: 420px,
  $upper-range: 900px
) {
  font-size: calc(
    #{$min-font-size} + #{(
        math.div($max-font-size, $max-font-size * 0 + 1) -
          math.div($min-font-size, $min-font-size * 0 + 1)
      )} * ((100vw - #{$lower-range}) / #{(
            math.div($upper-range, $upper-range * 0 + 1) -
              math.div($lower-range, $lower-range * 0 + 1)
          )})
  );

  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range) {
    font-size: $max-font-size;
  }
}
